*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 80%;
    background-color: rgb(235, 238, 239, 0.5);
    margin: 10px auto;
    border-radius: 25px;
}

.logo img {
    height: 40px;
    width: 40px;
    margin: 15px 0 10px 15px;
}

.tabs {
    height: inherit;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    color: blue;
}

.tabs a {
    text-decoration: none;
    font-size: 16px;
    color: grey;
    font-weight: 600;
}

.tabs a:hover {
    color: rgb(57, 73, 244);
    border-bottom: 3px solid;
}

.buttons {
    height: inherit;
    width: 10%;
}

.buttons button {
    height: 40px;
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgb(57, 73, 244);
    color: white;
}
.buttons button a{
    text-decoration: none;
    color: white;
}
#projects{
    text-align: center;
    /* color: darkblue; */
    /* font-family: var(--Lato); */
    font-size: 2rem;
    font-weight: 900;
}
.projects{
    height: fit-content;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    border-radius: 8px;
    /* justify-content: center; */
    align-items: center;
    /* background-color:lightgray; */
    transition: all 0.5s linear 0s;
}
.projects:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}
.project-left{
    /* border: 1px solid red; */
    height: inherit;
    width: 60%;
    /* background-color: red; */
    padding: 10px 10px;
}
.project-left h1{
    font-size: 30px;
}
.project-left strong{
    font-size: 20px;
}
.project-left p{
    font-size: 20px;
    line-height: 30px;
}
.project-left video{
    height: 400px;
    width: 100px;
}
.project-right{
    /* height: inherit; */
    height: 380px;
    width: 40%;
    /* background-color:blue; */
}
.project-right h1{
    font-size: 30px;
}
.project-right strong{
    font-size: 25px;
}
.project-right p{
    font-size: 22px;
    line-height: 30px;
}
.project-right video{
    height: 380px;
    width: 350px;
    margin: 20px;
}
.project-right2{
    display: none;
}

/* media query */
@media (max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    .tabs{
        width: 40%;
        /* border: 2px solid; */
    }
    .tabs a:hover {
        color: rgb(57, 73, 244);
        border-bottom: 3px solid;
    }
    .buttons{
        height: 50px;
        width: 130px;
    }
    .projects{
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .projects:hover{
        transform: scale(1.02);
    }
    .project-left{
        width: 100%;
    }
    .display-hidden{
        display: none;
    }
    .project-right2{
        display: block;
    }
    .project-right2 video{
        height: 300px;
        width: 500px;
        margin: 20px;
    }
    .project-right21 video{
        height: 300px;
        width: 500px;
        margin: 20px;
    }
}